# 2022-03-31, 2022-04-19, 2022-07-06, 2022-08-25, 2022-09-07, 2023-01-05

import (secr)
import (parallel)

# Base R

importFrom (graphics, .filled.contour, abline, arrows, box, contour, hist, 
    lines, locator, mtext, par, persp, points, polygon, rect, 
    segments, strheight, strwidth, symbols, text, legend, axis)

importFrom (grDevices, chull, contourLines, grey, palette, 
    terrain.colors, topo.colors, rainbow)

importFrom (stats, AIC, approx, approxfun, as.formula, binomial, chisq.test, coef,
    cutree, deviance, df.residual, dist, dpois,  formula, gaussian, glm, hclust,
    integrate, lm, logLik, median, model.matrix, na.omit, nlm, nls, optim,
    optimise, optimize, pchisq, pgamma, plnorm, pnorm, poisson,
    predict, qchisq, qnorm, quantile, rbeta, rbinom, rexp, rgamma, rlnorm, 
    rmultinom, rnbinom, rnorm, rpois, rt, runif, rweibull, sd, setNames,
    simulate, smooth.spline, terms, uniroot, update, update.formula, 
    var, vcov)

importFrom (tools, file_ext)

importFrom (utils, count.fields, flush.console, getS3method, head,
    object.size, packageDescription, packageVersion, read.csv,
    read.table, tail, write.table)   

# Other packages

importFrom (MASS, 
    ginv, 
    eqscplot)

importFrom (stringr, 
    str_pad, 
    str_length)

importFrom (nlme, 
    "fdHess")

# importFrom (geometry, 
#    "convhulln",
#    "inhulln")

export (ipsecr.fit)
export (plot3D.IP)
export (plotProxy)
export (proxy.ms)
export (detectionDesignData)
export (proxyfn0) # defunct 1.2.0
export (proxyfn1)
export (rpsv)
export (rpsvi)
export (simCH)
export (simpop)

S3method(coef, ipsecr)
S3method(makeNewData, ipsecr)
S3method(plot, ipsecr)
S3method(predict, ipsecr)
S3method(print, ipsecr)
S3method(print, summary.ipsecr)
S3method(summary, ipsecr)
S3method(vcov, ipsecr)

# S3method(region.N, ipsecr)

importFrom (Rcpp, evalCpp)

useDynLib (ipsecr, .registration = TRUE)

## DEBUGGING ONLY (cpp functions not documented)
## exportPattern("*cpp")
